.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    position: relative;
    transition: background-color 0.3s ease;
}

.back-button {
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 8px 16px 8px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 20px;
    margin-left: 14px;
    z-index: 100;
    color: var(--text-color);
}

.back-button:hover {
    background-color: var(--border-color);
}
